.settings-category {
    font-family: 'Inter';
    background-image: url(/resources/backgrounds/plasma/Aghi/contents/images/1024x768.jpg);
    width: 100%;
    background-size: cover;
    align-content: center;
    justify-content: center;
    color: white;
    padding: 10%;
}
.settings-category > h1 {
    font-weight: 300;
    font-size: 48px;
}

.settings-category > p {
    font-size: medium;
    line-height: 24px;
}

.b-settings-content {
    padding: 5%;
}