
.island-interactive > h1 {
    font-weight: 200;
    margin-top: 16px;
    margin-bottom: 16px;
}

.main-info {
    font-weight: 200;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: xx-large;
}